@media(max-width: 1440px){
    .home{
        width: 70%;
    }

    input{
        width: 60%;
    }

}

@media(min-width: 935px){
    .home{
        width: 70%;
    }

    input{
        width: 60%;
    }
}